
@{
    ViewBag.Title = "Index";
}

<div class="container body-content mycontainer" style="height:500px;">
    <h3>Hi  Admin</h3>
            @Html.ActionLink("Dishes", "ShowDish", new { area = "" }, new { @class = "button" })
            @Html.ActionLink("Diets", "Index", "Diets", new { area = "" }, new { @class = "button" })
      
            @Html.ActionLink("Users", "Index", "Users", new { area = "" }, new { @class = "button" })
    
</div>

<style>
    .mycontainer {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction:column;
    }
        
        .button {
            text-align:center;
        display: block;
        width: 500px;
        background: #0085FF;
        border-radius: 30px;
        margin-bottom:30px;
    }

</style>