
    <img src="~/Img/google_login 1.png" alt="Alternate Text" onclick="login()" />
    <!-- <button class="button" id="GoogleLogin" onclick="login()" style="background-color:#e82121"><i class="fa fa-google-plus"></i> Sign in with Google</button>
    <div id="uname"></div>
       <div id="uemail"></div><br />
       <div><img id="imgHolder" style="height:120px;width:120px;" /></div>
         -->
    

@Scripts.Render("~/Scripts/GoogleEnter.js")

